<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Wypożycz</title>
<link rel="stylesheet" th:href="@{/bootstrap.min.css}" type="text/css" />
<script th:src="@{/jquery.min.js}"></script>
<script th:src="@{/bootstrap.min.js}"></script>
<link rel="stylesheet" th:href="@{/jquery.dataTables.min.css}"
	type="text/css" />
<script th:src="@{/jquery.dataTables.min.js}"></script>
<script th:src="@{/table.js}"></script>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="/" class="navbar-brand">WYPOŻYCZALNIA SAMOCHODÓW</a>
			</div>
			<div>
				<ul class="nav navbar-nav">
					<li><a th:href="@{/klienci}">Dodaj Klienta</a></li>
					<li><a th:href="@{/samochody}">Dodaj Samochod</a></li>
					<li><a th:href="@{/samochodyklient}">Wypożycz</a></li>
					<li><a th:href="@{/usunklienta}">Usuń Klienta</a></li>
					<li><a th:href="@{/usunsamochod}">Usuń Samochod</a></li>
					<li><a th:href="@{/klienciLista}">Lista Klientow</a></li>
					<li><a th:href="@{/samochodyLista}">Lista Samochodow</a></li>
				</ul>
			</div>
		</div>
	</nav>
 <center><h1 class="page-header">Wypożyczanie</h1></center>
	<form th:action="@{/addbutton}" method="post">
	<div id="" style="overflow:scroll; height:600px; width:60%; float:left;">
		<table class="table table-bordered panel-body">
			<thead>
				<tr class="row">
					<th class="text-center" style="background-color: #a1c4ff;">Marka</th>
					<th class="text-center" style="background-color: #c39fff;">Model</th>
					<th class="text-center" width="15%" style="background-color: #ffdb97;">Rok Produkcji</th>
					<th class="text-center" colspan="3" width="40%" style="background-color: #c1ff69;">Wypożyczony przez:</th>
					<th class="text-center" width="5%" style="background-color: #cccccc;">Wybierz</th>
					<!-- <th class="text-center" width="5%" style="background-color: #ffad94;"></th> -->
				</tr>
			</thead>
			<tbody>
				<tr th:each="samochod : ${Listasamochodow}" th:object="${samochod}"	class="row">
					<td class="text-center" th:text="*{marka}" style="background-color: #d5e5ff;"></td>
					<td class="text-center" th:text="*{model}" style="background-color: #decbff;"></td>
					<td class="text-center" th:text="*{rok_produkcji}" style="background-color: #fff1ce;"></td>
					<td class="text-center" style="background-color: #d4ff96;"><span th:if="*{klient} != null" th:text="*{klient.imie}"></span></td>
					<td class="text-center" style="background-color: #d9ff96;"><span th:if="*{klient} != null" th:text="*{klient.nazwisko}"></span></td>
					<td class="text-center" style="background-color: #e0ff96;"><span th:if="*{klient} != null" th:text="*{klient.pesel}"></span></td>
					<td class="text-center" style="background-color: #e8e8e8;"><input type="radio" th:field="${klientsamochod.idsamochodu}" th:value="${samochod.id}" /></td>
					<td class="text-center" width="5%" style="background-color: #ffcdbe;"><a th:href="@{'/clear/samochod/' + *{id} }" class="btn btn-danger">Oddaj</a></td>
				</tr>
			</tbody>
		</table>
</div>
	<div id="" style="overflow:scroll; height:600px; width:40%; float:left;">
		<table class="table table-bordered panel-body">
			<thead>
				<tr class="row">
					<th class="text-center" style="background-color: #beff62;">Imie</th>
					<th class="text-center" style="background-color: #beff62;">Nazwisko</th>
					<th class="text-center" style="background-color: #beff62;">Pesel</th>
					<th class="text-center" style="background-color: #cccccc;">Wybierz</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="klient : ${Listaklientow}" th:object="${klient}" class="row">
					<td class="text-center" th:text="*{imie}" style="background-color: #d4ff96;"></td>
					<td class="text-center" th:text="*{nazwisko}" style="background-color: #d9ff96;"></td>
					<td class="text-center" th:text="*{pesel}" style="background-color: #e0ff96;"></td>
					<td class="text-center" width="5%" style="background-color: #e8e8e8;"><input type="radio" th:field="${klientsamochod.idklienta}" th:value="${klient.id}" /></td>
				</tr>
			</tbody>
		</table>
		</div>
		<center>
		<input class="btn btn-success btn-lg" type="submit" value="Wypożycz" />
		</center>
	</form>

</body>
</html>